<div id="wrapper">
			
	<div id="blue">
		<h1>Nomina Pics.</h1>
		<span id="contact_label">E: contact@nominaPics.com | T: +62.821.688.88.660</span>
		
		<%#= render :partial => 'layouts/front_page/slider/slider', :locals => {
		  :latest_articles => @latest_articles
		} %>
		
		<%= render :partial => 'layouts/front_page/slider/slider_mod', :locals => {
		  :latest_articles => @latest_articles
		} %>
	</div>
	
	<div id="content">
		<div id="content_left" style="width:100%;">
      <h2></h2>
			
			
			<% @articles.each do |article| %>
			  <%= render :partial => "layouts/front_page/article_entry", :locals => {
			    :article => article 
			  } %>
			<% end %>
			
			
			
			
		</div>
	
		<div class="clear"></div>
		<div class="spacer_footer"></div>
	</div>		
  
</div>